footer {
  background-color: #14121f;
  display:flex;
  flex-wrap:wrap;
  align-item:center;
  justify-content: space-around;
}

.footer__lien{
	display:flex;
	flex-direction:column;
	color:#d9d6d6;
	align-items:center;
}

.footer__lien a{
	color:#d9d6d6;
}