.footer {
  background-color: #14121f;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__lien {
  display: flex;
  flex-direction: column;
  color: #d9d6d6;
  align-items: center;
  width: 50vw;
  padding-top: 3vh;

  a {
  color: #d9d6d6;
  }
}
