include ../partials/header.pug

<section>
  <div>
    <p>zone pour images</p>
  </div>
  <div>
    <p>Découvrir le nouveau roman de Michel Bussi</p>
  </div>
</section>
<section>
  <h1>L'histoire</h1>
  <p>À Yport, parti courir sur la plus haute falaise d'Europe, Jamal a d'abord remarqué l'écharpe, rouge, accrochée à une clôture. Puis la femme, incroyablement belle, la robe déchirée, le dos face au vide, les yeux rivés aux siens. Jamal lui tend l'écharpe comme on tend une bouée.</p>
  <p>Quelques secondes plus tard, sur les galets glacés de la plage déserte, gît le corps inerte de l'inconnue. À son cou, l'écharpe rouge.</p>
  <p>Tout le monde pense qu'il l'a poussée. Il voulait simplement la sauver. C'est la version de Jamal. Le croyez-vous ?</p>
</section>
<section>
  <h1>Les critiques</h1>
  <div>
    <p>critique 1</p>
  </div>
  <div>
    <p>critique 2</p>
  </div>
  <div>
    <p>critique 3</p>
  </div>
  <p>télécharger les cahiers du cinema</p>
</section>
<section>
  <h1>Découvrez l'univers</h1>
</section>
<section>
  <h1>Les roman à travers le monde</h1>
</section>
include ../partials/footer.pug
