include ../partials/header.pug

<section class="presentation">
  <div class="presentation__image">
    <p>zone pour images</p>
  </div>
  <div class="presentation__text">
    <p>Découvrir le nouveau roman de Michel Bussi</p>
  </div>
</section>
<section class="histoire" id="histoire">
  <h2 class="histoire__title">L'histoire</h2>
  <p class="histoire__description">À Yport, parti courir sur la plus haute falaise d'Europe, Jamal a d'abord remarqué l'écharpe, rouge, accrochée à une clôture. Puis la femme, incroyablement belle, la robe déchirée, le dos face au vide, les yeux rivés aux siens. Jamal lui tend l'écharpe comme on tend une bouée.</p>
  <p>Quelques secondes plus tard, sur les galets glacés de la plage déserte, gît le corps inerte de l'inconnue. À son cou, l'écharpe rouge.</p>
  <p>Tout le monde pense qu'il l'a poussée. Il voulait simplement la sauver. C'est la version de Jamal. Le croyez-vous ?</p>
</section>
<section class="critiques" id="critiques">
  <h2 class="critiques__title">Les critiques</h2>
  <div class="critiques__content">
    <p>critique 1</p>
  </div>
  <div class="critiques__content">
    <p>critique 2</p>
  </div>
  <div class="critiques__content">
    <p>critique 3</p>
  </div>
  <a href="#" class="critiques__link">télécharger les cahiers du cinema</p>
</section>
<section class="univers" id="univers">
  <h2 class="univers__title">Découvrez l'univers</h2>
</section>
<section class="monde" id="monde">
  <h2 class="monde__title">Les roman à travers le monde</h2>
</section>
include ../partials/footer.pug
