<footer class="footer">
  <div class="footer__lien">
    <p>Où le trouver :</p>
    <ul>
      <li><a href="https://www.amazon.fr/s/?ie=UTF8&keywords=n+oublier+jamais+bussi&tag=hydfrmsn-21&index=aps&hvadid=80882856291043&hvqmt=e&hvbmt=be&hvdev=c&ref=pd_sl_6slb1nushc_e">Amazon</a></li>
      <li><a href="https://www.babelio.com/livres/Bussi-Noublier-jamais/584794">Babelio</a></li>
      <li><a href="https://livre.fnac.com/a8128345/Michel-Bussi-N-oublier-jamais?omnsearchpos=1">Fnac</a></li>
      <li><a href="https://www.cultura.com/n-oublier-jamais-9782266254571.html">Cultura</a></li>
    </ul>
  </div>
  <div class="footer__lien">
    <ul>
      <li><a href="#histoire">L'histoire</a></li>
      <li><a href="#critiques">Les critiques</a></li>
      <li><a href="#monde">Le roman à travers le monde</a></li>
    </ul>
  </div>
</footer>
</body>
</html>