<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>N'oublier Jamais, le roman de Michel Bussi</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header__title">
        <p class="header__titleText">N'oublier jamais</p>
      </div>
      <ul class="header__nav">
        <li class="header__navItem"><a href="#histoire">L'histoire</a></li>
        <li class="header__navItem"><a href="#critiques">Les critiques</a></li>
        <li class="header__navItem"><a href="#monde">À travers le monde</a></li>
      </ul>
    </header>

