<!DOCTYPE html>
<html>
  <head>
    <title>N'oublier Jamais, le roman de Michel Bussi</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>
    <header>
      <div class="header__title">
        <p class="header__title__text">N'oublier jamais</p>
      </div>
      <ul class="header__nav">
        <li class="header__nav__item"><a href="#histoire">L'histoire</a></li>
        <li class="header__nav__item"><a href="#critiques">Les critiques</a></li>
        <li class="header__nav__item"><a href="#univers">Découvrez l'univers</a></li>
        <li class="header__nav__item"><a href="#monde">À travers le monde</a></li>
      </ul>
    </header>

