<!DOCTYPE html>
<html>
  <head>
    <title>N'oublier Jamais, le roman de Michel Bussi</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>
    <header>
      <p class="header__titre">N'oublier jamais</p>
      <nav class="menu">
        <ul>
          <li class="header__menu__item"><a href="#">L'histoire</a></li>
          <li class="header__menu__item"><a href="#">Les critiques</a></li>
          <li class="header__menu__item"><a href="#">Découvrez l'univers</a></li>
          <li class="header__menu__item"><a href="#">Le roman à travers le monde</a></li>
        </ul>
      </nav>
    </header>
