<!DOCTYPE html>
<html>
  <head>
    <title>N'oublier Jamais, le roman de Michel Bussi</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>
    <header>
      <p class="header__titre">N'oublier jamais</p>
        <ul class="header__menu">
          <li class="header__menu__item"><a href="#histoire">L'histoire</a></li>
          <li class="header__menu__item"><a href="#critiques">Les critiques</a></li>
          <li class="header__menu__item"><a href="#univers">Découvrez l'univers</a></li>
          <li class="header__menu__item"><a href="#monde">Le roman à travers le monde</a></li>
        </ul>
    </header>
