@font-face {
 font-family: "CaviarDreams";
 src: url("../fonts/CaviarDreams.ttf") format("truetype");
}

@font-face {
 font-family: "Antro_Vectra";
 src: url("../fonts/Antro_Vectra.otf") format("truetype");
}