@import 'blocs/header';
@import 'blocs/footer';

@font-face {
 font-family: "Roboto";
 src: url("../fonts/Roboto-Regular.ttf") format("truetype");

}

@font-face {
 font-family: "Antro_Vectra";
 src: url("../fonts/Antro_Vectra.otf") format("truetype");

}

body{
	margin:0px;	
}

*{
	box-sizing: border-box;
}

h1 {
  color: pink;
  font-family: "Antro_Vectra", Arial;

  &:hover {
    color: green;
  }
}
